<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update employee</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${employee.empId}">
    <table>
        <tr>
            <th colspan="2">修改员工</th>
        </tr>
        <tr>
            <td>empId</td>
            <td>
                <input type="text" name="empId" th:value="${employee.empId}">
            </td>
        </tr>
        <tr>
            <td>empName</td>
            <td>
                <input type="text" name="empName" th:value="${employee.empName}">
            </td>
        </tr>
        <tr>
            <td>age</td>
            <td>
                <input type="text" name="age" th:value="${employee.age}">
            </td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input type="radio" name="gender" value="1" th:field="${employee.gender}">男
                <input type="radio" name="gender" value="0" th:field="${employee.gender}">女
            </td>
        </tr>
        <tr>
            <td>email</td>
            <td>
                <input type="text" name="email" th:value="${employee.email}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="update">
            </td>
        </tr>
    </table>
</form>

<hr>

<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    empId<input type="text" name="empId" th:value="${employee.empId}"><br>
    empName:<input type="text" name="empName" th:value="${employee.empName}"><br>
    age:<input type="text" name="age" th:value="${employee.age}"><br>
    <!-- th:field可用于单选框和复选框的回显,若单选框value值和employee.gender值一致,则添加checked="checked"属性 -->
    gender:<input type="radio" name="gender" value="1" th:field="${employee.gender}">男
    <input type="radio" name="gender" value="0" th:field="${employee.gender}">女<br>
    email:<input type="text" name="email" th:value="${employee.email}"><br>
    <input type="submit" value="update"><br>
</form>
</body>
</html>