<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add employee</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form th:action="@{/employee}" method="post">
    <table>
        <tr>
            <th colspan="2">添加员工</th>
        </tr>
        <tr>
            <td>empId</td>
            <td>
                <input type="text" name="empId">
            </td>
        </tr>
        <tr>
            <td>empName</td>
            <td>
                <input type="text" name="empName">
            </td>
        </tr>
        <tr>
            <td>age</td>
            <td>
                <input type="text" name="age">
            </td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input type="radio" name="gender" value="1">男
                <input type="radio" name="gender" value="0">女
            </td>
        </tr>
        <tr>
            <td>email</td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="add">
            </td>
        </tr>
    </table>
</form>

<hr>

<form th:action="@{/employee}" method="post">
    empId:<input type="text" name="empId"><br>
    empName:<input type="text" name="empName"><br>
    age:<input type="text" name="age"><br>
    gender:<input type="radio" name="gender" value="1">男
    <input type="radio" name="gender" value="0">女<br>
    email:<input type="text" name="email"><br>
    <input type="submit" value="add"><br>
</form>
</body>
</html>