<!DOCTYPE html>
<!-- 可以将xmlns:th="http://www.thymeleaf.org"添加到HTML模板 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 引入js -->
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
</head>

<body>
<h2>@RequestMapping注解</h2>
<a href="/detail">测试绝对路径 localhost:8088/detail</a><br>
<!-- th开头的是Thymeleaf的语法,会渲染路径自动转换上下文 -->
<a th:href="@{/detail}">测试Thymeleaf渲染后的路径 localhost:8088/springmvc/detail</a><br>
<a th:href="@{/index}">测试@RequestMapping注解不设置请求路径初始信息</a><br>
<a th:href="@{/hello/index}">测试@RequestMapping注解设置请求路径初始信息</a><br>
<a th:href="@{/aaa}">测试@RequestMapping注解的value属性</a><br>
<form th:action="@{/index}" method="post">
    <input type="submit" value="测试@RequestMapping注解的method属性">
</form>
<a th:href="@{/index?username='admin'&age=20}">测试@RequestMapping注解的params属性</a><br>
<a th:href="@{/index(username='admin', age=20)}">测试@RequestMapping注解的params属性</a><br>
<a th:href="@{/aaa/test/ant}">测试@RequestMapping注解支持ant风格的路径</a><br>
<a th:href="@{/test/rest/admin/1}">测试@RequestMapping注解的value属性中的占位符</a><br>
<hr>

<h2>SpringMVC获取请求参数</h2>
<!--<form th:action="@{/param/servletApi}" method="post">-->
<!--<form th:action="@{/param}" method="post">-->
<form th:action="@{/param/requestParam}" method="post">
<!--<form th:action="@{/param/pojo}" method="post">-->
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="登录">
</form>
<hr>

<h2>向请求域共享数据</h2>
<a th:href="@{/scope/servletApi}">测试使用ServletAPI向请求域共享数据</a><br>
<a th:href="@{/scope/modelAndView}">测试使用ModelAndView向请求域共享数据</a><br>
<a th:href="@{/scope/model}">测试使用Model向请求域共享数据</a><br>
<a th:href="@{/scope/modelMap}">测试使用ModelMap向请求域共享数据</a><br>
<a th:href="@{/scope/map}">测试使用Map向请求域共享数据</a><br>
<a th:href="@{/scope/session}">测试向会话域共享数据</a><br>
<a th:href="@{/scope/application}">测试向应用域共享数据</a><br>
<hr>

<h2>SpringMVC视图</h2>
<a th:href="@{/view/thymeleaf}">测试转发视图ThymeleafView</a><br>
<a th:href="@{/view/forward}">测试转发视图InternalResourceView</a><br>
<a th:href="@{/view/redirect}">测试重定向视图RedirectView</a><br>
<hr>

<h2>Restful风格</h2>
<a th:href="@{/user}">查询所有用户</a><br>
<a th:href="@{/user/1}">根据id查询用户</a><br>
<form th:action="@{/user}" method="post">
    <input type="submit" value="测试添加用户">
</form>
<form th:action="@{/user}" method="post">
    <!-- hidden表示隐藏域,页面右键显示网页源代码能看到 -->
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="测试修改用户">
</form>
<form th:action="@{/user/1}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="测试删除用户">
</form>
<a th:href="@{/employee}">查询所有员工</a><br>
<hr>

<div id="app">
    <h2>SpringMVC处理ajax请求</h2>
    <input type="button" value="测试@RequestBody获取json格式的请求参数(F12查看Console)" @click="testRequestBody()"><br>
    <a th:href="@{/ajax/responseBody}">测试@ResponseBody响应浏览器数据</a><br>
    <input type="button" value="测试@ResponseBody响应json格式的数据(F12查看Console)" @click="testResponseBody()"><br>
    <a th:href="@{/ajax/download}">测试下载功能</a><br>
    <form th:action="@{/ajax/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo"><br>
        <input type="submit" value="测试上传功能">
    </form>
</div>
<!-- 通过vue处理点击事件 -->
<script type="text/javascript">
    var vue = new Vue({
        el:"#app",
        methods:{
            testRequestBody(){
                // 使用axios发送ajax请求
                axios.post(
                    "/springmvc/ajax/requestBody/jsonToPojo",
                    // "/springmvc/ajax/requestBody/jsonToMap",
                    {username:"admin", password:"123456"}
                ).then(response=>{
                    // 浏览器F12 - Console查看控制台日志调试前端代码
                    console.log(response.data);
                });
            },
            testResponseBody(){
                axios.post(
                    "/springmvc/ajax/responseBody/pojoToJson"
                    // "/springmvc/ajax/responseBody/mapToJson"
                    // "/springmvc/ajax/responseBody/listToJson"
                ).then(response=>{
                    console.log(response.data);
                });
            }
        }
    });
</script>
<hr>

<a th:href="@{/interceptor}">测试拦截器</a><br>
<a th:href="@{/exception}">测试异常处理器</a>
</body>
</html>