<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--
        IOC(Inverse Of Control)：控制反转,把创建对象和对象之间相互调用的过程都交给Spring管理,降低耦合度
        IOC底层原理: 工厂模式 + xml解析 + 反射,相当于工厂模式的升级版
        IOC思想基于IOC容器完成,IOC容器就是对象工厂,Spring提供了两种实现方式
        BeanFactory：Spring内部使用接口,不提供给开发人员使用,加载配置文件时不会创建对象,获取对象时才会创建对象
        ApplicationContext：BeanFactory接口的子接口,提供更多功能给开发人员使用,加载配置文件时就会创建对象,耗时操作在项目启动时就完成
        ApplicationContext ioc = new ClassPathXmlApplicationContext("applicationContext.xml");
        Demo demo = ioc.getBean(Demo.class);
        反射是调用类的无参构造创建对象,所以bean只能是类类型不能是接口类型,类默认提供无参构造,如果自定义有参构造则不再提供无参构造
        Class<?> clazz = Class.forName("com.okccc.spring.pojo.Demo");
        Object o = clazz.newInstance();
        DI(Dependency Injection)：依赖注入,IOC思想的具体实现,组件以预先定义好的方式接受容器的资源注入,比如setter方法和有参构造
    -->
    <bean id="demo" class="com.okccc.spring.pojo.Demo"/>

    <!-- 配置bean对象并通过setter方法赋值(推荐) -->
    <bean id="emp01" class="com.okccc.spring.pojo.Emp">
        <!-- 点击属性名就会发现是调用setXxx() -->
        <property name="empId" value="1"/>
        <!-- 特殊符号&lt;&gt;或者直接使用CDATA区表示 -->
        <!--        <property name="name" value="a &lt; b"/>-->
        <property name="empName">
            <value><![CDATA[a < b]]></value>
        </property>
        <property name="age" value="19"/>
        <!-- null值是通过标签表示而不是字符串 -->
        <property name="sex">
            <null/>
        </property>
        <!-- 为类类型属性赋值 -->
        <!-- 方式一：引用外部bean -->
        <!--        <property name="dept" ref="dept01"/>-->
        <!-- 方式二：添加内部bean,内部bean只能用于属性赋值,无法在外部通过IOC容器获取,所以id属性可以省略 -->
        <property name="dept">
            <bean class="com.okccc.spring.pojo.Dept">
                <property name="deptId" value="1"/>
                <property name="deptName" value="销售部"/>
            </bean>
        </property>
        <!-- 为数组类型属性赋值 -->
        <property name="hobbies">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <!-- 为Map集合类型属性赋值 -->
        <!-- 方式一：引用外部bean -->
        <!--        <property name="games" ref="gameList"/>-->
        <!-- 方式二：添加map标签 -->
        <property name="games">
            <map>
                <entry key="1" value-ref="game01"/>
                <entry key="2" value-ref="game02"/>
            </map>
        </property>
    </bean>

    <bean id="dept01" class="com.okccc.spring.pojo.Dept">
        <property name="deptId" value="1"/>
        <property name="deptName" value="技术部"/>
        <!-- 为List集合类型属性赋值 -->
        <!-- 方式一：引用外部bean -->
        <property name="emps" ref="empList"/>
        <!-- 方式二：添加list标签 -->
        <!--        <property name="emps">-->
        <!--            <list>-->
        <!--                <ref bean="emp01"/>-->
        <!--                <ref bean="emp02"/>-->
        <!--            </list>-->
        <!--        </property>-->
    </bean>

    <bean id="game01" class="com.okccc.spring.pojo.Game">
        <property name="gameId" value="1"/>
        <property name="gameName" value="WAR3"/>
    </bean>

    <bean id="game02" class="com.okccc.spring.pojo.Game">
        <property name="gameId" value="2"/>
        <property name="gameName" value="LOL"/>
    </bean>

    <!-- list集合类型的bean -->
    <util:list id="empList">
        <ref bean="emp01"/>
        <ref bean="emp02"/>
    </util:list>

    <!-- map集合类型的bean -->
    <util:map id="gameList">
        <entry key="1" value-ref="game01"/>
        <entry key="2" value-ref="game02"/>
    </util:map>

    <!-- 配置bean对象并通过构造器赋值 -->
    <bean id="emp02" class="com.okccc.spring.pojo.Emp">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="moon"/>
        <constructor-arg name="age" value="20"/>
        <constructor-arg name="sex" value="女"/>
    </bean>

    <!-- 使用p命名空间,p:empId表示字面量类型,p:empId-ref表示类类型 -->
    <bean id="emp03" class="com.okccc.spring.pojo.Emp"
          p:empId="3" p:empName="sky" p:dept-ref="dept01" p:games-ref="gameList"/>

    <!-- 引入外部属性文件 -->
    <context:property-placeholder location="jdbc.properties"/>
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--
        bean的作用域
        scope="singleton"：bean在IOC容器中只有一个实例,IOC容器初始化时就创建好对象(默认)
        scope="prototype"：bean在IOC容器中可以有多个实例,因为每个实例都不一样,所以调用getBean()时才会创建对象使用

        bean的生命周期
        1.实例化：反射会调用类的无参构造创建bean对象
        2.依赖注入：property标签给bean对象的属性赋值
        3.初始化：bean对象初始化,init-method属性指定
        4.销毁：destroy-method属性指定,IOC容器关闭时才会销毁
        如果scope="singleton",生命周期的前三个步骤是在获取IOC容器时执行
        如果scope="prototype",生命周期的前三个步骤是在获取bean对象时执行,并且此时bean对象销毁不由IOC容器控制
    -->
    <bean id="user" class="com.okccc.spring.pojo.User" scope="prototype"
          init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value="1"/>
        <property name="username" value="grubby"/>
        <property name="password" value="orc"/>
        <property name="age" value="19"/>
    </bean>

    <!-- bean的后置处理器会在生命周期初始化前后添加额外操作,并且是针对IOC容器中的所有bean -->
    <!--    <bean id="beanPost" class="com.okccc.spring.process.MyBeanPostProcessor"/>-->

    <!--
        FactoryBean是Spring提供的一种整合第三方框架的常用机制,可以隐藏复杂组件的创建过程
        将FactoryBean接口的实现类配置成bean对象,会将其getObject()方法返回的对象交给IOC容器管理
        Spring整合Mybatis就是通过FactoryBean机制来创建SqlSessionFactory对象
     -->
    <bean id="userFactoryBean" class="com.okccc.spring.factory.UserFactoryBean"/>

    <!--
        基于xml的自动装配：自动为bean中的类类型或接口类型的属性赋值
        autowire="default"：不装配,使用属性的默认值,直接报错NullPointerException
        autowire="byType"：根据要赋值属性的类型在IOC容器中匹配某个bean,容器中只能有一个匹配的类型
        autowire="byName"：根据要赋值属性的名字作为bean的id在IOC容器中匹配,容器中可以有多个匹配的类型
    -->
    <bean id="userController" class="com.okccc.spring.controller.UserController" autowire="byType">
<!--        <property name="userService" ref="userService"/>-->
    </bean>
    <bean id="userService" class="com.okccc.spring.service.impl.UserServiceImpl" autowire="byName">
<!--        <property name="userDao" ref="userDao"/>-->
    </bean>
    <bean id="userDao" class="com.okccc.spring.dao.impl.UserDaoImpl"/>
</beans>